input[type="number"] {
  all:unset;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    all:unset;
    display:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin:0;
  }
  position:relative;

  width:86px;
  padding:.25rem .5rem;
  
  text-align:center;
  font:var(--d-sm);
  color:var(--content-primary);

  cursor:text;
  z-index:1;
}

input[type="checkbox"] {
  all:unset;
  position:relative;
  
  &:focus ~ label,
  &:focus-visible ~ label {
    &::before {
      animation: borderSpin 1s linear infinite;
    }

    &::before,
    &::after {
      content:'';
      position:absolute;
      border-radius:inherit;
    }
    &::before {
      inset:0;
      background:var(--gradient-border);
      background-clip:border-box;
      -webkit-background-clip:border-box;
    }
    &::after {
      inset:2px;
      background:inherit;
      z-index:0;
    }
  }
}

@keyframes borderSpin {
  to {
    filter:hue-rotate(360deg);
  }
}
